/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/media/cache/*
!web/media/cache/.gitkeep
/web/uploads/tmp/*
!web/uploads/tmp/.gitkeep