{% extends 'DocumentaryWIREBundle::base2.html.twig' %}

{% block title %}
    Activation Required
{% endblock %}

{% block content %}

    You haven't activated your account. Please activate your account before <br />
    attempting to login. If you haven't received this email <br />
    <a href="{{ path('documentary_wire.send_activation_email') }}">click here to request a re-send</a>.

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}

{% block sidebar %}
{% endblock %}