{% extends 'DocumentaryWIREBundle::base2.html.twig' %}

{% block title %}
    Change Username
{% endblock %}

{% block content %}

    <div id="signup_form" class="standard-form">
        <h2>Change Username</h2>
        <div class="register-section" id="basic-details-section">
            {{ form(form) }}
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}

{% block sidebar %}
{% endblock %}