{% extends 'DocumentaryWIREBundle::base2.html.twig' %}

{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
    <h2>Edit Profile</h2>
    <strong>Hi, {{ user.username }}!</strong> <br />
    <img src="{{ asset(getAvatar(user, 'avatar200')) }}" /> <br />
    <a href="{{ path('documentary_wire.upload_avatar') }}">Change Avatar</a> <br />
    <a href="{{ path('documentary_wire.change_password') }}">Change Password</a>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}

{% block sidebar %}
{% endblock %}