{% extends 'DocumentaryWIREBundle::base2.html.twig' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}

    <div id="signup_form" class="standard-form">
        <h2>Reset Password</h2>
        <p>Error: Expired Key. <a href="{{ path('documentary_wire.forgot_password') }}">Please try again.</a></p>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}

{% block sidebar %}
{% endblock %}