{% extends 'DocumentaryWIREBundle::base2.html.twig' %}

{% block title %}
    Successfully Changed Password
{% endblock %}

{% block content %}

    <div id="signup_form" class="standard-form">
        <h2>Password Changed</h2>
        <p>Please <a href="{{ path('login') }}">log in</a> with your new password.</p>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}

{% block sidebar %}
{% endblock %}