{% extends 'DocumentaryWIREBundle::base2.html.twig' %}

{% block title %}
    Upload Avatar
{% endblock %}

{% block content %}

    <div id="signup_form" class="standard-form">
        <h2>Upload Avatar</h2>
        <img src="{{ asset(getAvatar(user, 'avatar200')) }}" />
        {{ form(form) }}
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}

{% block sidebar %}
{% endblock %}