{% extends 'DocumentaryWIREBundle:Admin:base.html.twig' %}

{% block content %}

    {% for documentary in documentaries %}
        <a href="{{ path('documentary_wire.admin_show_documentary', {'slug': documentary.slug }) }}">
            {{ documentary.title }} </a><br />
    {% endfor %}

{% endblock %}