<footer id="footer">
			{% block footer %}
				<div id="footbar" class="footbar-c3" data-layout="c3"><div class="wrap cf"><div id="footbar-inner" class="masonry"></div></div></div><!-- end #footbar -->
			<div id="colophon" role="contentinfo"><div class="wrap cf">
				<div id="social-nav"><span class="desc">Follow us elsewhere</span><ul><li class="twitter"><a href="http://twitter.com/dedepress" title="Follow us on Twitter">Follow us on Twitter</a></li><li class="facebook"><a href="http://facebook.com/dedepress" title="Become a fan on Facebook">Become a fan on Facebook</a></li><li class="gplus"><a href="http://gplus.to/dedepress" title="Follow us on Google Plus">Follow us on Google Plus</a></li><li class="rss"><a href="http://localhost/wordpress/?feed=rss2" title="Subscriber to RSS Feed">Subscriber to RSS Feed</a></li><li class="news"><a href="http://dedepress.com" title="Premium WordPress Themes">Premium WordPress Themes</a></li></ul></div><!-- end #social-nav -->			
				<div id="footer-nav"><ul><li class="page_item page-item-5352"><a href="http://localhost/wordpress/?page_id=5352">Activate</a></li>
	<li class="page_item page-item-5597"><a href="http://localhost/wordpress/?page_id=5597">Activity</a></li>
	<li class="page_item page-item-5349"><a href="http://localhost/wordpress/?page_id=5349">Activity</a></li>
	<li class="page_item page-item-5312"><a href="http://localhost/wordpress/?page_id=5312">Add Documentary</a></li>
	<li class="page_item page-item-7"><a href="http://localhost/wordpress/?page_id=7">Browse</a></li>
	<li class="page_item page-item-3486"><a href="http://localhost/wordpress/?page_id=3486">Browse</a></li>
	<li class="page_item page-item-1996"><a href="http://localhost/wordpress/?page_id=1996">Browse Documentaries</a></li>
	<li class="page_item page-item-4517"><a href="http://localhost/wordpress/?page_id=4517">Browse Documentaries A-Z</a></li>
	<li class="page_item page-item-4510"><a href="http://localhost/wordpress/?page_id=4510">Browse Documentaries by Popularity</a></li>
	<li class="page_item page-item-4515"><a href="http://localhost/wordpress/?page_id=4515">Browse Top Rated Documentaries</a></li>
	<li class="page_item page-item-2869"><a href="http://localhost/wordpress/?page_id=2869">Community</a></li>
	<li class="page_item page-item-2050"><a href="http://localhost/wordpress/?page_id=2050">Contact</a></li>
	<li class="page_item page-item-2001"><a href="http://localhost/wordpress/?page_id=2001">Documentary List</a></li>
	<li class="page_item page-item-5377"><a href="http://localhost/wordpress/?page_id=5377">Events</a></li>
	<li class="page_item page-item-2733"><a href="http://localhost/wordpress/?page_id=2733">FAQ</a></li>
	<li class="page_item page-item-5364"><a href="http://localhost/wordpress/?page_id=5364">Group Discussions</a></li>
	<li class="page_item page-item-5599"><a href="http://localhost/wordpress/?page_id=5599">Groups</a></li>
	<li class="page_item page-item-5348"><a href="http://localhost/wordpress/?page_id=5348">Groups</a></li>
	<li class="page_item page-item-5 current_page_item"><a href="http://localhost/wordpress/">Home</a></li>
	<li class="page_item page-item-5245"><a href="http://localhost/wordpress/?page_id=5245">Home</a></li>
	<li class="page_item page-item-5598"><a href="http://localhost/wordpress/?page_id=5598">Members</a></li>
	<li class="page_item page-item-5347"><a href="http://localhost/wordpress/?page_id=5347">Members</a></li>
	<li class="page_item page-item-5305"><a href="http://localhost/wordpress/?page_id=5305">Members Area</a></li>
	<li class="page_item page-item-4513"><a href="http://localhost/wordpress/?page_id=4513">Most Commented Documentaries</a></li>
	<li class="page_item page-item-5025"><a href="http://localhost/wordpress/?page_id=5025">Privacy Policy</a></li>
	<li class="page_item page-item-5300"><a href="http://localhost/wordpress/?page_id=5300">Register</a></li>
	<li class="page_item page-item-5351"><a href="http://localhost/wordpress/?page_id=5351">Register</a></li>
	<li class="page_item page-item-2"><a href="http://localhost/wordpress/?page_id=2">Sample Page</a></li>
	<li class="page_item page-item-3352"><a href="http://localhost/wordpress/?page_id=3352">Search Documentaries</a></li>
	<li class="page_item page-item-5218"><a href="http://localhost/wordpress/?page_id=5218">Stop SOPA</a></li>
	<li class="page_item page-item-3848"><a href="http://localhost/wordpress/?page_id=3848">Store</a></li>
	<li class="page_item page-item-2009"><a href="http://localhost/wordpress/?page_id=2009">Subscribe</a></li>
	<li class="page_item page-item-4745"><a href="http://localhost/wordpress/?page_id=4745">Top 1000 Documentaries</a></li>
	<li class="page_item page-item-2086"><a href="http://localhost/wordpress/?page_id=2086">Login</a></li>
	</ul></div><!-- end #footer-nav -->			
				<p id="copyright">Copyright 2013 &copy; <a href="http://localhost/wordpress">DocumentaryWIRE</a> All rights reserved.</p>			
				<p id="credits">Powered by <a target="_blank" href="http://wordpress.org/">WordPress</a> & <a target="_blank" href="http://dedepress.com/themes/detube/" title="Premium Video Theme">deTube</a> by <a target="_blank" href="http://dedepress.com" title="Premium WordPress Themes">DeDePress</a>.</p>		</div></div><!-- end #colophon -->
		
			{% endblock %}
		</footer><!-- end #footer -->