<div class="wall full-width-video-layout">
    <div id="video" class="wrap cf">
        <div class="entry-header cf">
            <h1 class="entry-title">The Pirate Bay Away From Keyboard</h1>

            <div class="entry-actions">
                <span class="dp-like-post"><a class="like" href="javascript:void(0);" data-pid="5592">Like?</a></span>
                <div class="dropdown dp-share">
                    <a class="dropdown-handle" href="#">Share</a>

                    <div class="dropdown-content">
                        <div class="addthis_toolbox addthis_default_style" addthis:title='The Pirate Bay Away From Keyboard'>
                            <ul>
                                <li><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a></li>
                                <li><a class="addthis_button_tweet"></a></li>
                                <li><a class="addthis_button_google_plusone" g:plusone:size="medium"></a></li>
                                <li><a class="addthis_button_pinterest_pinit"></a></li>
                                <li><a class="addthis_counter addthis_pill_style"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end .entry-header -->

        <div class="screen fluid-width-video-wrapper">

            <iframe width="620" height="349" src="http://www.youtube.com/embed/nTDNLUzjkpg?feature=oembed&amp;autoplay=1&amp;wmode=opaque&amp;rel=0&amp;showinfo=0&amp;modestbranding=0" frameborder="0" allowfullscreen></iframe>
        </div><!-- end .screen -->
    </div><!-- end #video -->
</div><!-- end #wall -->