<div id="text-3" class="widget widget_text">
    <div class="widget-header">
        <h3 class="widget-title">Love Documentaries?</h3>
    </div>

    <div class="textwidget">
        <p>
            Browse through our great collection of documentary films and watch interesting and educational documentaries online. Enjoy!
        </p>
        <p>
            Follow us to keep up to date: <br />
            <a href="http://facebook.com/documentarywire" target="_blank"><img src="http://www.documentarywire.com/images/32px/Facebook.png" /></a>

            <a href="http://twitter.com/documentaries" target="_blank"><img src="http://www.documentarywire.com/images/32px/Twitter.png" />
            </a>
            <a href="http://plus.google.com/102291899817218633368/posts" target="_blank">
                <img src="http://www.documentarywire.com/images/32px/Google+.png" />
            </a>

            <a href="http://pinterest.com/documentaries/" target="_blank">
                <img src="http://www.documentarywire.com/images/32px/Pinterest.png" />
            </a>

            <a href="http://www.youtube.com/user/documentarywire/" target="_blank">
                <img src="http://www.documentarywire.com/images/32px/YouTube.png" />
            </a>

            <a href="http://feeds.feedburner.com/documentarywire" target="_blank">
                <img src="http://www.documentarywire.com/images/32px/RSS.png" />
            </a>

            <a href="http://feedburner.google.com/fb/a/mailverify?uri=DocumentaryWire" target="_blank">
                <img src="http://www.documentarywire.com/images/32px/Mail.png" />
            </a>
        </p>
        <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=DocumentaryWire', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <p>Get the latest documentaries sent directly to your inbox!
                <small>(We don't spam. You can unsubscribe anytime.)</small>
            </p>
            <p>
                <input type="text" style="width:140px" name="email" placeholder="Your email address..."/>
                <input type="hidden" value="DocumentaryWire" name="uri"/><input type="hidden" name="loc" value="en_US"/>
                <input type="submit" value="Subscribe" />
            </p>
        </form>
    </div>
</div>