<div id="text-3" class="widget widget-follow">
    <div class="widget-header">
        <h2 class="widget-title">Follow DocumentaryWIRE</h2>
    </div>
    <ul class="has-avatar">
        <li>
            <div class="social-icon"><img alt="facebook" width="30" height="30" src="{{ asset('uploads/images/icon/facebook-circle.png') }}"/></div>
            <div class="fb-like follow-button" data-href="https://www.facebook.com/documentarywire" data-send="false" data-width="250" data-show-faces="false"></div>
        </li>
        <li>
            <div class="social-icon"><img alt="twitter" width="30" height="30" src="{{ asset('uploads/images/icon/twitter-circle.png') }}"/></div>
            <div class="twit-like follow-button"><a href="https://twitter.com/documentaries" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false" rel="nofollow">Follow @Documentaries</a></div>
        </li>
        <li>
            <div class="social-icon"><img alt="pinterest" width="30" height="30" src="{{ asset('uploads/images/icon/pinterest-circle.png') }}"/></div>
            <div class="follow-button"><a data-pin-do="buttonFollow" href="http://gb.pinterest.com/documentaries/" rel="nofollow">DocumentaryWIRE</a></div>
        </li>
        <li>
            <div class="social-icon"><img alt="google plus" width="30" height="30" src="{{ asset('uploads/images/icon/google-circle.png') }}"/></div>
            <div class="follow-button"><div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/u/0/102291899817218633368" data-rel="publisher"></div></div>
        </li>
    </ul>
</div>