<div id="text-7" class="widget widget_text">
    <div class="widget-header">
        <h3 class="widget-title">
            Find Us On Facebook
        </h3>
    </div>
    <div class="textwidget">
        <iframe
                src="//www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/documentarywire&width=292&height=258&show_faces=true&colorscheme=light&stream=false&border_color&header=false&appId=516432235033685"
                scrolling="no"
                frameborder="0"
                style="border:none; overflow:hidden; width:292px; height:258px;"
                allowTransparency="true">
        </iframe>
    </div>
</div>