<div id="text-3" class="widget widget_text"><div class="widget-header">
        <h2 class="widget-title">Subscribe to DocumentaryWIRE</h2>

    </div>

    <div class="textwidget">

        <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=DocumentaryWire', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Get awesome new documentaries in your inbox. </p><p><input type="text" class="feedburner-box" name="email" placeholder="Your email address..."/><input type="hidden" value="DocumentaryWire" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /></p>
        </form>
    </div>
</div>